
<div class="container allMyapp">
	<mat-card>
	
	<div>
		<h2 style="text-align: center;">Add new users details here!</h2>
		<div>
		<mat-form-field appearance="outline" class="form-elements">
			<mat-label>Title</mat-label>
			<input matInput placeholder="Employee">
		  </mat-form-field>
	</div>


	<div>
		<mat-form-field appearance="outline" class="form-elements">
			<mat-label>Name</mat-label>
			<input matInput placeholder="John Macre">
		  </mat-form-field>
	</div>

	<div>
		<mat-form-field appearance="outline" class="form-elements">
			<mat-label>Mobile</mat-label>
			<input matInput placeholder="+1232121212">
		  </mat-form-field>
	</div>
	
	<div>
		<mat-form-field appearance="outline" class="form-elements">
			<mat-label>Email</mat-label>
			<input matInput placeholder="abc@gmail.com">
		  </mat-form-field>
	</div> 
	
	<div>
		<button mat-raised-button color="primary" type="button">Add records</button>
	</div>
</div>
<br>\
</mat-card>	

</div>
